<% provide(:title, "Problems") %>
<h1>Problems</h1>
<%= will_paginate %>
<table class="table">
  <thead>
    <th>Name</th>
    <th>Tags</th>
  </thead>
  <tbody>
    <% @problems.each do |p| %>
      <tr>
        <td><%= link_to p.name, p.link %></td>
        <td><%= csv_tags_links(p) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
<div id="new-problem-btn-container">
  <%= link_to new_problem_path, class: "btn btn-default" do %>
    <i class="fa fa-plus-square-o"></i> Add new
  <% end %>
</div>
