<h1>New Problem</h1>
<%= form_for @problem do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :link %>
  <%= f.text_field :link %>

  <%= f.label :csv_tags, "Tags (comma-separated)" %>
  <%= f.text_field :csv_tags %>

  <%= f.submit "Create" %>
<% end %>
