<h1>New Problem</h1>
<%= form_for @problem do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :link %>
    <%= f.text_field :link, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :csv_tags, "Tags (comma-separated)" %>
    <%= f.text_field :csv_tags, class: "form-control" %>
  </div>

  <%= f.submit "Create", class: "btn btn-default" %>
<% end %>
